---
import Section from "../Section.astro";
---

<Section title="Skills">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatum deleniti fugit provident iure impedit. Cupiditate praesentium veniam corrupti illo, itaque aut animi quidem enim excepturi mollitia culpa aspernatur error?</p>
</Section>